@font-face {
  font-family: "Bingo Bangos";
  src: url("../assets/fonts/Bingo Bangos.ttf");
  font-stretch: expanded;
}

@font-face {
  font-family: "Bingo";
  src: url("../assets/fonts/Bingo.otf");
}

@font-face {
  font-family: "Unica One";
  src: url('../assets/fonts/unicaone-regular.ttf');
}