content {
  display: flex;
  align-items: center;
  flex-direction: column;

  .toolbar {
    width: calc(10 * 5rem);
    display: flex;
    justify-content: flex-end;

    p {
      color: gray;
      margin: 0 0 1rem 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}