.cases-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0.25rem 0 0.25rem 0;

  &__data {
    display: flex;
    align-items: center;
  }

  .updated {
    align-self: flex-end;
    font-size: 0.8rem;
    font-style: italic;
    color: #aaa;
    margin-bottom: 0;
  }
}