

// @font-face {
//   font-family: "Bingo Bangos";
//   src: url("../../../assets/fonts/Bingo Bangos.ttf");
// }


.bingo__element {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  font-size: 100%;

  input {
    // font-size: 1.5em;
    font-size: 150%;
    font-family: "Bingo Bangos";
    letter-spacing: 0.5em;
    width: 100%;
    text-align: center;
    color: rgb(73, 73, 219);
    border: 1px solid rgb(163, 195, 255);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    };

    &.stroke {
      text-decoration: line-through;
      text-decoration-color: red;
    }

    &:focus {
      outline-color: rgb(73, 73, 219);
      &+button {
        opacity: 1;
      }
    }
  }

  button {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 0;
    // margin: 0 0 0 .25em;
    margin: 0 0 0 5px;
    background-color: rgba(0, 0, 0, 0);
    // font-size: 1.25em;
    font-size: 175%;
    cursor: pointer;
    border: none;
    text-align: center;
    font-family: "Bingo Bangos";
    color: red;

    // &:hover {
    //   opacity: 1;
    // }
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}