.bingo__element {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;

  input {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    };

    &.stroke {
      color: red;
    }

    &:focus {
      &+button {
        opacity: 1;
      }
    }
  }

  button {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    text-align: center;

    // &:hover {
    //   opacity: 1;
    // }
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}